<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>WELCOME TO HOME PAGE</h1>
        <h1>the rollno of the student is:{{user.rollno}}</h1>
        <h1>the name of the student is:{{user.name}}</h1>
        <h1>the pno of the student is:{{user.pno}}</h1>
        <h1>the email of the student is:{{user.email}}</h1>
        <h1>the class of the student is:{{user.class}}</h1>
    </center>
</body>
</html>